<nav class="nav topbar-nav">
	<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
		<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
		Simulations
	</NavLink>
	<NavLink class="nav-link" href="logs">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
		Logs
	</NavLink>
	<NavLink class="nav-link" href="sim/tank-transfer/creator">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
		Tank Layout Editor
	</NavLink>
	<NavLink class="nav-link" href="sim/grain-dryer/creator">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
		Dryer Layout Editor
	</NavLink>
	<NavLink class="nav-link" href="equipment-gallery">
		<span class="bi bi-grid-3x3-gap-nav-menu" aria-hidden="true"></span>
		Equipment Gallery
	</NavLink>
</nav>
