<nav class="nav topbar-nav">
	<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
		<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
		Simulations
	</NavLink>
	<NavLink class="nav-link" href="logs">
		<span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
		Logs
	</NavLink>
</nav>
